Repository Sinko-Organization/iSEF: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.{cjs,mjs,ts,tsx,md,json}": "prettier --write",
  "*.{js,mjs,ts,tsx}": "eslint"
}

:sparkles: feature(honors): add honors list page
  apps/web-app/.env.example
  apps/web-app/.eslintrc.json
  apps/web-app/src/pages/honors-list/index.tsx
  apps/web-app/src/server/router/honors/honors.ts
  apps/web-app/src/server/router/honors/index.ts
  apps/web-app/src/server/router/index.ts
  apps/web-app/src/types/honors/index.ts
Due: prettier --write, eslint

:sparkles: feature(honors): add filtering and sorting to table
  apps/web-app/package.json
  apps/web-app/src/pages/honors-list/index.tsx
  apps/web-app/src/server/router/honors/honors.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

:sparkles: feature(honors): add persisted state for filters
  apps/web-app/src/pages/honors-list/index.tsx
  apps/web-app/src/server/router/honors/honors.ts
  apps/web-app/src/stores/index.ts
  apps/web-app/src/stores/useHonorsFilterStore.ts
Due: prettier --write, eslint

:recycle: refactor(dashboard): make filters refetch on state change
  apps/web-app/src/containers/curriculum-selector/CurriculumSelector.tsx
  apps/web-app/src/pages/dashboard/index.tsx
  apps/web-app/src/stores/useCurriculumStore.ts
Due: prettier --write, eslint

:recycle: refactor(store): rearrange store hooks directory
  apps/web-app/src/stores/curriculum/curriculum.ts
  apps/web-app/src/stores/curriculum/index.ts
  apps/web-app/src/stores/honor/honor.ts
  apps/web-app/src/stores/honor/index.ts
Due: prettier --write, eslint

:sparkles: feature(dashboard): add a new table design
  apps/web-app/package.json
  apps/web-app/src/components/tables/DashboardTable2.tsx
  apps/web-app/src/components/tables/index.ts
  apps/web-app/src/pages/dashboard/second.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

:white_check_mark: tests(integration): test getting no population
  apps/web-app/src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration): add tests for for course router
  apps/web-app/src/server/router/context.ts
  apps/web-app/src/server/router/course/course.int.test.ts
  apps/web-app/src/server/router/student-data/student-data.test.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration): add tests for student data router
  apps/web-app/package.json
  apps/web-app/src/server/router/context.ts
  apps/web-app/src/server/router/course/course.int.test.ts
  apps/web-app/src/server/router/student-data/student-data.int.test.ts
  apps/web-app/src/server/router/student-data/student-data.test.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration): add more tests for record upload
  apps/web-app/src/server/router/course/course.int.test.ts
  apps/web-app/src/server/router/student-data/student-data.int.test.ts
  apps/web-app/src/server/router/student-data/student-data.ts
  apps/web-app/src/server/router/student-data/tests/upload.int.test.ts
Due: prettier --write, eslint

:recycle: refactor(router): refactor upload record router
  .lintstagedrc.json
  apps/web-app/package.json
  apps/web-app/src/helpers/parsers/index.ts
  apps/web-app/src/pages/import/index.tsx
  apps/web-app/src/server/router/student-data/student-data.ts
  apps/web-app/src/types/spreadsheet/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint

:sparkles: feature(honors-list): add mui table for honors list
  apps/web-app/package.json
  apps/web-app/prisma/ERD.svg
  apps/web-app/prisma/schema.prisma
  apps/web-app/src/components/tables/HonorsListTable.tsx
  apps/web-app/src/components/tables/index.ts
  apps/web-app/src/containers/protected-route/AdminRoute.tsx
  apps/web-app/src/pages/honors-list/index.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint

edit renovate.json
  renovate.json
Due: prettier --write

add todo issues workflow
  .github/workflows/workflow.yml
Due: none

add PR template
  .github/pull_request_template.md
Due: prettier --write

fix end of line formatting
  .github/pull_request_template.md
Due: prettier --write

Add todo issues workflow (#74)
  .github/pull_request_template.md
  .github/workflows/workflow.yml
Due: prettier --write

:white_check_mark: tests(integration): fix failing tests
  apps/web-app/package.json
  apps/web-app/src/server/router/context.ts
  apps/web-app/src/server/router/student-data/student-data.ts
  apps/web-app/src/server/router/student-data/tests/upload.int.test.ts
Due: prettier --write, eslint

:art: codestyle(prettier): format files for prettier
  .github/pull_request_template.md
Due: prettier --write

:hammer: devscripts(prisma): remove erd generation in schema
  apps/web-app/prisma/ERD.svg
  apps/web-app/prisma/schema.prisma
Due: none

:white_check_mark: tests(integration): update course integration test
  apps/web-app/src/server/router/course/course.int.test.ts
  apps/web-app/src/server/router/course/course.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration): fix course tests
  apps/web-app/src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration): change array test assertion
  apps/web-app/src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:art: codestyle(frontend): add todo for improving import ui
  apps/web-app/src/pages/import/index.tsx
Due: prettier --write, eslint

add todos for import and dashboard
  apps/web-app/src/pages/dashboard/index.tsx
  apps/web-app/src/server/router/student-data/tests/upload.int.test.ts
Due: prettier --write, eslint

:adhesive_bandage: fix(validation): student id regex bugfix
  apps/web-app/src/containers/protected-route/AdminRoute.tsx
  apps/web-app/src/types/spreadsheet/index.ts
Due: prettier --write, eslint

:sparkles: feature(frontend): add sidebar container
  apps/web-app/src/containers/drawers/SideDrawer.tsx
  apps/web-app/src/containers/drawers/index.ts
  apps/web-app/src/pages/_app.tsx
  apps/web-app/src/pages/index.tsx
Due: prettier --write, eslint

:rotating_light: lint(prettier): fix format checking fails
  .prettierignore
  commitlint.config.cjs
  package.json
Due: prettier --write

:rotating_light: lint(prettier): fix prettier format again
  apps/web-app/src/server/router/student-data/tests/upload.int.test.ts
Due: prettier --write, eslint

:sparkles: feature(profile): add edit student profile
  apps/web-app/src/components/cards/StudentProfileCard.tsx
  apps/web-app/src/components/cards/index.ts
  apps/web-app/src/pages/student/index.tsx
Due: prettier --write, eslint

:sparkles: feature(profile): add update mutation for profile
  apps/web-app/src/components/cards/StudentProfileCard.tsx
  apps/web-app/src/pages/student/index.tsx
  apps/web-app/src/server/router/index.ts
  apps/web-app/src/server/router/student/index.ts
  apps/web-app/src/server/router/student/student.ts
Due: prettier --write, eslint

:goal_net: detect(profile): add error and success alerts
  apps/web-app/src/components/alerts/ErrorAlert.tsx
  apps/web-app/src/components/alerts/SuccessAlert.tsx
  apps/web-app/src/components/alerts/index.ts
  apps/web-app/src/components/cards/StudentProfileCard.tsx
  apps/web-app/src/pages/student/index.tsx
  apps/web-app/src/server/router/student/student.ts
Due: prettier --write, eslint

:bug: bugfix(frontend): fix type import bug
  apps/web-app/src/components/alerts/ErrorAlert.tsx
  apps/web-app/src/components/alerts/SuccessAlert.tsx
  apps/web-app/src/components/cards/StudentProfileCard.tsx
  apps/web-app/src/pages/honors-list/index.tsx
  apps/web-app/src/server/router/school-year/school-year.ts
Due: prettier --write, eslint

:recycle: refactor(dashboard): refactor dashboard design
  apps/web-app/src/components/tables/DashboardTable.tsx
  apps/web-app/src/components/tables/DashboardTable2.tsx
  apps/web-app/src/containers/curriculum-selector/CurriculumSelector.tsx
  apps/web-app/src/pages/dashboard/second.tsx
Due: prettier --write, eslint

message
  apps/web-app/public/assets/Sinko-Logo.png
  apps/web-app/src/containers/drawers/SideDrawer.tsx
Due: prettier --write, eslint

:goal_net: detect(records): add notes on failing or missing grades
  apps/web-app/src/components/cards/StudentProfileCard.tsx
  apps/web-app/src/components/cards/StudentRecordsCard.tsx
  apps/web-app/src/components/cards/index.ts
  apps/web-app/src/components/tables/DashboardTable.tsx
  apps/web-app/src/pages/student/index.tsx
Due: prettier --write, eslint

Update SideDrawer
  apps/web-app/src/containers/drawers/SideDrawer.tsx
Due: prettier --write, eslint

:sparkles: feature(records): add details for inc, fail, pass grades
  apps/web-app/src/components/cards/StudentRecordsCard.tsx
Due: prettier --write, eslint

ui: edit sidebar with links and logo
  apps/web-app/src/containers/drawers/SideDrawer.tsx
Due: prettier --write, eslint

ui: fix linter errors for sidebar
  apps/web-app/public/images/sinko-logo.png
  apps/web-app/src/containers/drawers/SideDrawer.tsx
Due: prettier --write, eslint
