Repository Sinko-Organization/iSEF: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

:hammer: devscripts(helpers): toNumericGrade function and test
  package.json
  src/utils/helpers/helpers.test.ts
  src/utils/helpers/to-numeric-grade.ts
Due: prettier --write, eslint

:wrench: config(format): add root import for modules
  .husky/pre-commit
  .husky/pre-push
  package.json
  tsconfig.json
Due: prettier --write

:wrench: config(format): add root module import
  .husky/pre-commit
  commitlint.config.cjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

:truck: relocate(helpers): rename helpers
  package.json
  src/utils/helpers/helpers.unit.test.ts
Due: prettier --write, eslint

:white_check_mark: tests(e2e): add cypress for e2e testing
  .eslintignore
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.ts
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/local_storage.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  tsconfig.json
Due: prettier --write, eslint

:construction_worker: ci(db): add docker postgres for tests
  .github/workflows/ci.yml
Due: none

:green_heart: fixci(db): fix postgres schema push error
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/support/commands.ts
Due: prettier --write, eslint

add cypress for e2e testing (#45)
  .eslintignore
  .github/workflows/ci.yml
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/local_storage.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  tsconfig.json
Due: prettier --write, eslint

:sparkles: feature(backend): add course route
  package.json
  pnpm-lock.yaml
  src/components/tables/DashboardTable.tsx
  src/components/tables/index.ts
  src/pages/dashboard/index.tsx
  src/server/router/course/course.int.test.ts
  src/server/router/course/course.ts
  src/server/router/course/index.ts
  src/server/router/index.ts
  src/server/router/student-data.ts
  src/server/router/student-data/index.ts
  src/server/router/student-data/student-data.ts
  src/utils/helpers/index.ts
  src/utils/helpers/to-numeric-grade.ts
Due: prettier --write, eslint

:wrench: config(test): add path alias to vitest config
  src/utils/helpers/helpers.unit.test.ts
  vitest.config.ts
Due: prettier --write, eslint

:wrench: config(session): add session context for testing
  src/server/router/context.ts
  src/server/router/course/course.int.test.ts
  src/utils/helpers/helpers.unit.test.ts
Due: prettier --write, eslint

:card_file_box: db(test): add admin user for testing session
  src/server/router/context.ts
  src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration): fix test for course router
  src/server/router/context.ts
  src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:iphone: responsive(frontend): add dashboard and course tables
  src/components/tables/CourseTable.tsx
  src/components/tables/DashboardTable.tsx
  src/components/tables/index.ts
  src/pages/course/index.tsx
  src/server/router/course/course.ts
Due: prettier --write, eslint

:sparkles: feature(frontend): add school year and semester types
  prisma/schema.prisma
  src/components/selectors/SchoolYearSelector.tsx
  src/components/selectors/SemesterSelector.tsx
  src/components/selectors/index.ts
  src/helpers/helpers.unit.test.ts
  src/helpers/index.ts
  src/helpers/to-numeric-grade.ts
  src/pages/import/index.tsx
  src/server/router/student-data/student-data.ts
  src/types/semester/index.ts
Due: prettier --write, eslint

:heavy_plus_sign: depadd(dependency): add fakerjs and turborepo
  package.json
  packages/generator/.gitignore
  packages/generator/index.ts
  packages/generator/package.json
  packages/generator/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/pages/api/auth/[...nextauth].ts
  src/server/router/student-data/student-data.ts
  src/types/spreadsheet/index.ts
  tsconfig.json
Due: prettier --write, eslint

:sparkles: feature(student): add student page with other details
  prisma/schema.prisma
  src/components/tables/CourseTable.tsx
  src/pages/course/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/student/index.tsx
  src/server/router/student-data/student-data.ts
Due: prettier --write, eslint

:sparkles: feature(frontend): add year and term filter for course
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/cards/StudentProfileCard.tsx
  src/components/selectors/SchoolYearSelector.tsx
  src/containers/curriculum-selector/CurriculumSelector.tsx
  src/containers/curriculum-selector/index.ts
  src/pages/dashboard/index.tsx
  src/server/router/course/course.ts
  src/server/router/index.ts
  src/server/router/school-year/index.ts
  src/server/router/school-year/school-year.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration test): population int test
  src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:sparkles: feature(frontend): add gwa calculation
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/components/selectors/SchoolYearSelector.tsx
  src/containers/curriculum-selector/CurriculumSelector.tsx
  src/pages/course/index.tsx
  src/pages/dashboard/index.tsx
  src/pages/student/index.tsx
  src/server/router/course/course.ts
  src/server/router/student-data/student-data.ts
  src/stores/index.ts
  src/stores/useCurriculumStore.ts
Due: prettier --write, eslint

:bug: bugfix(curriculum): fix curriculum form bug
  src/containers/curriculum-selector/CurriculumSelector.tsx
  src/pages/dashboard/index.tsx
Due: prettier --write, eslint

:passport_control: admin
  src/containers/protected-route/AdminRoute.tsx
  src/containers/protected-route/index.ts
  src/pages/_app.tsx
  src/server/router/index.ts
  src/server/router/user/index.ts
  src/server/router/user/user.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration test): course
  src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:white_check_mark: tests(integration test): route integration
  src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:adhesive_bandage: fix(integration test): integration test fix
  src/server/router/course/course.int.test.ts
Due: prettier --write, eslint

:art: codestyle(monorepo): improve monorepo structure
  .eslintrc.json
  .gitignore
  .husky/pre-push
  apps/internal-dashboard/.gitkeep
  apps/web-app/.eslintrc.json
  apps/web-app/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

:white_check_mark: tests(ci): update test commands for ci
  .github/workflows/ci.yml
  .github/workflows/integration-test.yml
  apps/web-app/package.json
  package.json
  prettier.config.cjs
  turbo.json
Due: prettier --write

:adhesive_bandage: fix(config): add pnpm version on package.json
  package.json
Due: prettier --write

:heavy_minus_sign: deprm(package): remove pnpm-lock in web dir
  apps/web-app/pnpm-lock.yaml
Due: none

:wrench: config(node): move npmrc and nvmrc to root
  .npmrc
  .nvmrc
Due: none

:package: binary(version): remove pnpm version in web dir
  apps/web-app/package.json
Due: prettier --write

:package: binary(lock): reinstall pnpm-lock file
  pnpm-lock.yaml
Due: none

:green_heart: fixci(ci): change ci command scripts
  .github/workflows/ci.yml
  .github/workflows/integration-test.yml
Due: none

:wrench: config(docker): update docker compose file
  .github/workflows/integration-test.yml
  docker-compose.yml
Due: none

:white_check_mark: tests(integration): fix integration test workflow
  apps/web-app/vitest.config.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{cjs,mjs,ts,tsx,md,json}
  eslint: any of: *.{js,mjs,ts,tsx}
  stylelint: any of: *.{css, scss, sass}
